@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-jc_sb {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-ali_s-jc_s {
  display: flex;
  align-items: start;
  justify-content: start;
}
@mixin flex-ali_s-jc_s-fl_column {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
@mixin flex-fl_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin flex-ali_s {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
