@import './kit/mixins.scss';
.footer {
    width: 100%;
    padding-top: 33px;
    padding-bottom: 35px;
    gap: 140px;
    @include flex;
    background-color: #000;
    &_about {
        width: 220px;
        @include flex-ali_s-jc_s-fl_column;
        gap: 27px;
        & p {
            color: rgba(255, 255, 255, 0.7);
            font-family: 'Source Sans Pro2';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px; /* 118.75% */
            width: 230px;
        }
    }
    &_logo {
        gap: 22px;

        @include flex-fl_column;
        & h1 {
            color: #fff;
            font-family: 'Source Sans Pro';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 88.889% */
            letter-spacing: 3.6px;
            text-transform: uppercase;
        }
    }
}

.footer_mobile {
    display: none;
}
