@import './kit/mixins.scss';
.header {
    width: 100%;
    @include flex;
    padding-top: 31px;
    position: absolute;
    top: 0px;
    .nav {
        @include flex;
        gap: 165px;
        &_logo h1 {
            color: #fff;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 80% */
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &_none {
            opacity: 0;
        }
    }
    .nav_mobile {
        display: none;
    }
}
