.nav_menu {
    @include flex;
    &_ul {
        @include flex;
        gap: 32px;
        &_li {
            list-style: none;
            & a {
                text-decoration: none;
                color: #fff;
                font-family: 'Source Sans Pro2';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 114.286% */
                letter-spacing: 2.8px;
                text-transform: uppercase;
            }
            & a:hover {
                border-bottom: 2px solid #fff;
                padding-bottom: 6px;
                transition: 0.4s;
                font-family: 'Source Sans Pro';
            }
        }
    }
}
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 50px;
    height: 50px;
    align-items: center;
}
.line {
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
