@import './kit/mixins.scss';
.main {
    @include flex;
    height: 100vh;
    background-image: url('../assets/background_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_none {
        width: 550px;
    }
    &_desc {
        @include flex-fl_column;
        gap: 32px;
        text-align: center;
        margin-top: 132px;
        & img {
            transition: 0.9s;
            cursor: pointer;
        }
        & img:hover {
            transform: rotateY(360deg);
        }
        & h1 {
            color: #fff;
            text-align: center;
            text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.44);
            font-family: Sail;
            font-size: 68px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px; /* 105.882% */
            text-transform: capitalize;
        }
        & p {
            color: #fff;
            text-align: center;
            font-family: 'Source Sans Pro';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
    }
}

.text_section {
    @include flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
    padding-bottom: 98px;
    background-color: #f0f0f0;
    flex-direction: column;
    & h1 {
        color: #464547;
        text-align: center;
        font-family: Notable;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 133.333% */
    }
    & h2 {
        color: #666;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        margin-top: 38px;
        line-height: 32px; /* 133.333% */
    }
    &_desc {
        @include flex-ali_s;
        margin-top: 46px;
        gap: 83px;
        & article {
            width: 545px;
            text-align: left;
            color: #666;
            font-family: 'Source Sans Pro', monospace;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 137.5% */
        }
    }
    &_btn {
        @include flex;
        margin-top: 51px;
        & button {
            width: 115px;
            height: 36px;
            flex-shrink: 0;
            border-radius: 18px;
            background: #771533;
            color: #fff;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 185.714% */
            letter-spacing: 1.4px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            transform-origin: left bottom;
        }
        & button:hover {
            transform: rotate(10deg);
        }
    }
}
