@import './kit/mixins.scss';
.video_mobile_section {
    display: none;
}
.video_section {
    @include flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-top: 91px;
    padding-bottom: 100px;
    background: url('../assets/pexels-photo-2339181\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & h1 {
        color: #fff;
        position: relative;
        z-index: 9999;
        text-align: center;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 133.333% */
    }
    &_Learn {
        margin-top: 45px;
        position: relative;
        z-index: 999;
        cursor: pointer;
        width: 182px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 100px;
        transition: 0.2s;
        & button {
            transition: 0.2s;
            background: initial;
            font-size: 80px;
            position: relative;
            left: 10px;
            top: 5px;
            color: #771533;
            border: none;
        }
    }
    &_Learn:hover {
        background-color: #771533;
        &:hover button {
            color: #fff;
        }
    }
    & p {
        margin-top: 52px;
        position: relative;
        z-index: 9999;
        color: #fff;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
}
