@import './kit/mixins.scss';
@media (max-width: 991px) {
    .nav_none {
        display: none;
    }
}
@media (max-width: 768px) {
    .nav {
        display: none !important;
    }
    .nav_mobile {
        width: 100%;
        padding-left: 27px;
        padding-right: 27px;
        @include flex-jc_sb;
        &_logo h1 {
            color: #fff;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px; /* 80% */
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &_menu.active {
            left: 0px;
        }
        &_menu {
            width: 84vw;
            height: 100vh;
            position: absolute;
            top: 0px;
            padding: 20px;
            left: -2000px;
            transition: 0.8s;
            background-color: #fff;
            &_ul {
                width: 100%;
                height: 100%;
                @include flex-ali_s-jc_s-fl_column;
                gap: 20px;
                &_li a {
                    text-decoration: none;
                    color: #000;
                    font-family: 'Source Sans Pro2';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 114.286% */
                    letter-spacing: 2.8px;
                    text-transform: uppercase;
                }
            }
        }
        &_icon {
            & img {
                transition: 0.8s;
            }
            & img.active {
                transform: rotate(90deg);
            }
        }
    }
    .main_none {
        display: none;
    }
}

@media (max-width: 991px) {
    .text_section_desc {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        & p {
            width: auto;
        }
    }
}

@media (max-width: 700px) {
    .video_section {
        display: none;
    }
    .video_mobile_section {
        background: #fff;
        @include flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        padding-top: 91px;
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
        &_pk {
            @include flex;
            position: relative;
            &_img {
                position: absolute;
                top: 70px;
            }
        }
        & h1 {
            color: #464547;
            text-align: center;

            font-family: Source Sans Pro;
            font-size: 37px;
            font-style: normal;
            font-weight: 700;
            line-height: 53px; /* 143.243% */
        }
        & p {
            color: #464547;
            text-align: center;
            font-size: 24px;

            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
    }
}

@media (max-width: 991px) {
    .footer {
        display: none;
    }
    .footer_mobile {
        @include flex-fl_column;
        background: #000;
        padding-top: 31px;
        padding-bottom: 34px;
        padding-left: 20px;
        padding-right: 20px;
        &_logo {
            @include flex-fl_column;
            &_img {
                @include flex-fl_column;
                & h1 {
                    color: #fff;
                    text-align: center;
                    font-family: Source Sans Pro;
                    font-size: 18px;
                    margin-top: 15px;
                    padding-bottom: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px; /* 88.889% */
                    letter-spacing: 3.6px;
                    text-transform: uppercase;
                }
            }
            &_text {
                @include flex-fl_column;
                & p {
                    color: #fff;
                    text-align: center;

                    font-family: Source Sans Pro;
                    font-size: 16px;
                    font-style: normal;
                    margin-top: 14px;
                    font-weight: 400;
                    line-height: 19px; /* 118.75% */
                }
            }
        }
    }
}
