@import 'kit/mixins';

@font-face {
    font-family: Notable;
    src: url(../assets/fonts/Notable-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Source Sans Pro;
    src: url(../assets/fonts/SourceSansPro-Black.otf);
    font-weight: 400;
}
@font-face {
    font-family: Source Sans Pro2;
    src: url(../assets/fonts/SourceSansPro-Light.otf);
    font-weight: 400;
}
@font-face {
    font-family: Sail;
    src: url(../assets/fonts/Sail-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: SourceSans;
    src: url(../assets/fonts/SourceSans3-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: SourceSansB;
    src: url(../assets/fonts/SourceSans3-SemiBold.ttf);
    font-weight: 600;
}

@import 'header.scss';
@import 'menu.scss';
@import 'text-section.scss';
@import 'video-section.scss';
@import 'footer.scss';
@import 'mobile.scss';
@import 'global.scss';
